<html>

<head>
    <meta charset="utf-8" />
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        div#app {
            padding: 30px;
            margin: 30px auto;
            width: 400px;
            border: 1px solid #ccc;
            box-shadow: 3px 3px 3px #aaa;
        }

        div#app div {
            margin-bottom: 20px;
        }

        div.warp {
            width: auto;
        }

        input {
            padding: auto;
        }

        button {
            width: 100px;
            margin-right: 10px;
            height: 40px;
        }
    </style>

</head>

<body>
    <div id="app">
        <h1>test1</h1>
        <div>
            <input type="number" v-model="value1" />
        </div>
        <div>
            <input type="number" v-model="value2" />
        </div>
        <div class="warp">
            <button type="button" v-on:click="multiply">
                곱하기
            </button>
            <button type="button" v-on:click="divide">
                나누기
            </button>
        </div>
        <hr />
        <span>{{result}}</span>
    </div>

</body>

<script type="text/javascript">
    let app = {
        data() {
            return {
                value1: 0,
                value2: 0,
                result: 0
            };
        },
        methods: {
            multiply() {
                return this.result = this.value1 * this.value2;
            },
            divide() {
                return this.result = this.value1 / this.value2;
            }
        }
    };
    Vue.createApp(app).mount("#app");
</script>

</html>