<html>

<head>
    <meta charset="utf-8" />
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        div#app {
            padding: 30px;
            margin: 30px auto;
            width: 400px;
            border: 1px solid #ccc;
            box-shadow: 3px 3px 3px #aaa;
        }

        input {
            height: 30px;
        }

        span {
            font-size: 30px;
        }

        p {
            margin-bottom: 5px;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1>test3</h1>
        <div>
            <p>form</p>
            <input type="number" v-model="from" />
        </div>
        <div>
            <p>to</p>
            <input type="number" v-model="to" />
        </div>
        <hr />
        <span>{{sum}}</span>
    </div>
    <script type="text/javascript">
        let app = {
            data() {
                return {
                    from: 1,
                    to: 3,
                };
            },
            computed: {
                sum() {
                    let s = 0;
                    for (i = this.from; i <= this.to; i++) {
                        s += i;
                    }
                    return s;
                }
            }
        };
        Vue.createApp(app).mount("#app");
    </script>
</body>

</html>